<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Hq:</strong>
  <%= @picture.hq %>
</p>

<p>
  <strong>Lq:</strong>
  <%= @picture.lq %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
